/* * {border: red solid 1px;
} */

body {
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 0 auto;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

.header .right-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}

.left-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.main-text {
    font-weight: 1000;
    margin: 5px 0;
}

.left-block .main-text {
    flex-wrap: wrap;
    font-size: 45px;
}

.secondary-text {
    font-size: inherit;
    color: #1f2937;
    margin: 5px 0;
    font-style: italic;
}

.left-block .secondary-text {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: inherit;
    border-radius: 15px;
    font-size: inherit;
    padding: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    border: #f9faf8 solid 2px;
}

.hero .inner-block {
    flex: 1 0.5 0;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-block .placeholder {
    width: 300px; 
    height: 200px;
    border: 2px dashed #ccc; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 50px;
    margin: 5px 10px;
}

.middle-content .main-text {
    font-size: 35px;
    color: #1f2937;
    margin: 20px 0;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    flex: 1;
    max-width: 25%;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    border: #3882f6 solid 2px;
    border-radius: 20%;
    margin 0 auto 10px;
}

.more-info .secondary-text {
    font-size: inherit;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 20px 150px;
    justify-content: center;
    align-items: center;
}

.quote .secondary-text {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

.client {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 30px;
    border-radius: 20px;
}

.card .left-section {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.left-section .main-text {
    font-size: 30px;
}

.left-section .secondary-text {
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px ;
}